<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WordApp</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/recently-added" routerLink="/recently-added" routerLinkActive="active">Recently Added</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exercises" routerLink="/exercises" routerLinkActive="active">Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings" routerLink="/settings" routerLinkActive="active">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
